
@{
    ViewBag.Title = "NewGameType";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="bg-info text-center p-3 mt-5 border-dark" style="padding: 5px;">
    <h1>Game Type List!</h1>
</div>
<div class="taz text-center" style="width: 100%;margin-top: 15px;">
    <div class="col-md-12" style="overflow-x: auto">
        <table class="table table-bordered bg-danger text-center table-hover" style="width:auto;cursor: pointer;">
            <tr>
                <th class="text-center">GameType Index</th>
                <th class="text-center">GameType Name</th>
                <th class="text-center">GameType Photo</th>
                <th class="text-center">GameType About</th>
                <th class="text-center" colspan="2"><a href="~/Admin/NewGameType">+</a></th>
            </tr>
            @foreach (var item in ViewBag.gametype)
            {
        <tr>
            <td>@(ViewBag.GameType.IndexOf(item)+1)</td>
            <td>@item.GameTypeName</td>
            <td>@item.GameTypePhoto</td>
            <td>@item.GameTypeAbout</td>
            <td><a href="~/Admin/deletegametype/@item.GameTypeId" style="cursor: pointer;">Sil</a></td>
            <td><a href="~/Admin/gametypeedit/@item.GameTypeId" style="cursor: pointer;">Edit</a></td>
        </tr>
            }
        </table>
    </div>
</div>

