
@{
    ViewBag.Title = "gametypeedit";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<form style="margin-left: 5%;" action="~/Admin/updategametpe/@ViewBag.gametype.GameTypeId" method="post" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>New GameType</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="GameTypeName" name="GameTypeName" value="@ViewBag.gametype.GameTypeName" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="file" class="form-control" placeholder="GameTypePhoto" name="GameTypePhoto" value="@ViewBag.gametype.GameTypePhoto" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <div class="form-group">
<textarea required placeholder="About" id="description" class="form-control" name="GameTypeAbout" rows="7">@ViewBag.gametype.GameTypeAbout</textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

