
@{
    ViewBag.Title = "IndexSlideListEdit";
    Layout = "~/Views/Shared/Admin.cshtml";
}

@using goaf.az.Models

<form style="margin-left: 5%;" action="~/Admin/IndexSlideListUpdate/@Model.SlideId" method="post" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Edit IndexSlide</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="SlideName" name="SlideName" value="@Model.SlideName" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="SlideLink" name="SlideLink" value="@Model.SlideLink" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <div class="form-group">
                    <input type="file" class="form-control" placeholder="SlidePhoto" name="SlidePhoto" value="@Model.SlidePhoto" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    @Html.ActionLink("Back to List", "IndexSlideList")
</div>

