
@{
    ViewBag.Title = "Banks";
    Layout = "~/Views/Shared/Site.cshtml";
}

<main>
    <div class="container-fluid pr-0 pl-0">
        <div class="title-back">
            <div class="game-title">
                <h4>Bank Hesab Nömrələri</h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mobile-size">
                <div class="menu-list">
                    <ul class="list-unstyled m-0">
                        <li><a class="active-menu" href="~/Site/Banks">Hesab Nömrələri</a></li>
                        <li><a href="~/Site/BankTransfer">Bank Köçürməsi</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="right-part">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="simple-title">Saytın bank hesabları</h5>
                        </div>
                        <div class="col-md-4 down-margin">
                            <div class="bank-inform">
                                <img src="https://goafaz.com/storage/methods/uSLnZZejYenLXF4vA2wnCX9Iy4THgizLBLzBML7N.jpg" alt="Kapital Bank">
                                <p>BANK:</p>
                                <span>Kapital Bank</span>
                                <p>Hesab Sahibi:</p>
                                <span>4169 7413 8771 1250</span>
                                <p>Kart Nömrəsi:</p>
                                <span>ZAFAR DADASHEV</span>
                                <a href="~/Site/BankTransfer">Ödəmə Bildirimi Göndər</a>
                            </div>
                        </div>
                        <div class="col-md-4 down-margin">
                            <div class="bank-inform">
                                <img src="https://goafaz.com/storage/methods/z4UoXSzJxMJLKv5Fi1asHWn5rlFo2mVu1ml2fFJV.jpg" alt="Kapital Bank">
                                <p>BANK:</p>
                                <span>Kapital Bank</span>
                                <p>Hesab Sahibi:</p>
                                <span>4169 7413 8771 1250</span>
                                <p>Kart Nömrəsi:</p>
                                <span>ZAFAR DADASHEV</span>
                                <a href="~/Site/BankTransfer">Ödəmə Bildirimi Göndər</a>
                            </div>
                        </div>
                        <div class="col-md-4 down-margin">
                            <div class="bank-inform">
                                <img src="https://goafaz.com/storage/methods/gPdNm69kVX6wERTaw0kxQ0T9JKHKbIhwUmqiNYRT.jpg" alt="Kapital Bank">
                                <p>BANK:</p>
                                <span>Kapital Bank</span>
                                <p>Hesab Sahibi:</p>
                                <span>4169 7413 8771 1250</span>
                                <p>Kart Nömrəsi:</p>
                                <span>ZAFAR DADASHEV</span>
                                <a href="~/Site/BankTransfer">Ödəmə Bildirimi Göndər</a>
                            </div>
                        </div>
                        <div class="col-md-4 down-margin">
                            <div class="bank-inform">
                                <img src="https://goafaz.com/storage/methods/dOPkedM7iQQogaVQAP1GwttJa5NlWMLZWKKrgiGP.jpg" alt="Kapital Bank">
                                <p>BANK:</p>
                                <span>Kapital Bank</span>
                                <p>Hesab Sahibi:</p>
                                <span>4169 7413 8771 1250</span>
                                <p>Kart Nömrəsi:</p>
                                <span>ZAFAR DADASHEV</span>
                                <a href="~/Site/BankTransfer">Ödəmə Bildirimi Göndər</a>
                            </div>
                        </div>
                        <div class="col-md-4 down-margin">
                            <div class="bank-inform">
                                <img src="https://goafaz.com/storage/methods/REEvX7KRsXZeou9YxnMEih7ElMKIdf7BztLISZ5K.jpg" alt="Kapital Bank">
                                <p>BANK:</p>
                                <span>Kapital Bank</span>
                                <p>Hesab Sahibi:</p>
                                <span>4169 7413 8771 1250</span>
                                <p>Kart Nömrəsi:</p>
                                <span>ZAFAR DADASHEV</span>
                                <a href="~/Site/BankTransfer">Ödəmə Bildirimi Göndər</a>
                            </div>
                        </div>
                        <div class="col-md-4 down-margin">
                            <div class="bank-inform">
                                <img src="https://goafaz.com/storage/methods/rpzSpSmr2ohIDUgwz4xafwESBlhjgq0Jdkm3DB9o.jpg" alt="Kapital Bank">
                                <p>BANK:</p>
                                <span>Kapital Bank</span>
                                <p>Hesab Sahibi:</p>
                                <span>4169 7413 8771 1250</span>
                                <p>Kart Nömrəsi:</p>
                                <span>ZAFAR DADASHEV</span>
                                <a href="~/Site/BankTransfer">Ödəmə Bildirimi Göndər</a>
                            </div>
                        </div>
                        <div class="col-md-4 down-margin">
                            <div class="bank-inform">
                                <img src="https://goafaz.com/storage/methods/O8JH0sMwRCjnmc5M5QE09K9KB2hrDC9PQo59fB7z.jpg" alt="Kapital Bank">
                                <p>BANK:</p>
                                <span>Kapital Bank</span>
                                <p>Hesab Sahibi:</p>
                                <span>4169 7413 8771 1250</span>
                                <p>Kart Nömrəsi:</p>
                                <span>ZAFAR DADASHEV</span>
                                <a href="~/Site/BankTransfer">Ödəmə Bildirimi Göndər</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

