
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/Site.cshtml";
}

<main>
    <div class="container-fluid pr-0 pl-0">
        <div class="title-back">
            <div class="game-title">
                <h4>Kömək</h4>
            </div>
        </div>
    </div>
    <div class="container about">
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <h3 class="just-title">Suallar və cavablar</h3>
                </div>
            </div>
            <div class="col-md-12">
                <div class="faq">
                    <ul class="list-unstyled m-0">
                        <li>
                            <span>Nə üçün telefon nömrəsi vacibdir ? <i class="far fa-angle-down"></i></span>
                            <div class="faq-content">
                                <p><div>Müştərilərdə çıxan <strong>texniki problem</strong> vəya baş verən <strong>dələduzluq hallarına</strong> görə hər hesabda <strong>Azərbaycan Respublikasına</strong> ait olan<strong> telefon nömrəsinin</strong> təsdiqi vacibdir.</div></p>
                            </div>
                        </li>
                        <li>
                            <span>Bonus (Gcoin) nədir ? <i class="far fa-angle-down"></i></span>
                            <div class="faq-content">
                                <p><div><strong>Gcoin Goafaz</strong> tərəfindən verilən bir <strong>bonus</strong> növüdür. Açılışı <strong>Goaf Coin</strong> deməkdir. Qısaltılmış formada <strong>GC</strong>. Bu bonuslar <strong>turnirlərdə</strong>(yaxında), <strong>Alışverişlərdə</strong>, <strong>Giveaway'lərdə</strong>(yaxında) qazanabilərsiz. Yığdıqdan sonra istədiyiniz məhsulu <a href="~/Site/AllBonus">Hədiyyələr</a> qismindən seçib alabilərsiz.</div></p>
                            </div>
                        </li>
                        <li>
                            <span>Pubg Mobile UC aldım ama bonus UC gəlmədi. <i class="far fa-angle-down"></i></span>
                            <div class="faq-content">
                                <p><div>Məhsulu başqa yerdən aldıqdan sonra bizdən alsanızda sizdə artıq <strong>2 ci dəfə</strong> alındığı üçün <strong>bonus</strong> verilmir. Bəzi hallarda bonus yığışdırılır ama iş çoxluğuna görə saytda <strong>gec dəyişdirəbilirik</strong>. Ona görə bonus gəldikdə <strong>sürətli alışverişinizi edin</strong> aradan çıxın :)</div></p>
                            </div>
                        </li>
                        <li>
                            <span>Goafaz&#039;dan sifariş etdim ama aldığım məhsul mənə çatmadı. <i class="far fa-angle-down"></i></span>
                            <div class="faq-content">
                                <p><div>Bəzi <strong>sifarişlər</strong> gözlənilməz səbəblər nədəni ilə normaldan daha uzun çəkəbilir. Sifarişiniz sizə <strong>1 saat ərzində</strong> çatmasa <strong>050 820 10 01</strong> nömrəsinə <strong>whatsapp</strong>'dan məlumat verməyiniz kifayətdir.</div></p>
                            </div>
                        </li>
                        <li>
                            <span>Goafaz&#039;dan necə alışveriş edəbilərəm ? <i class="far fa-angle-down"></i></span>
                            <div class="faq-content">
                                <p><div>Sadə : Goafaz <a href="~/Site/AllGameType">oyunlar kataloqundan</a> istədiyiniz oyunu seçib addımları izləmək kifayət edir.</div></p>
                            </div>
                        </li>
                        <li>
                            <span>Konturla ödəniş edəbilərəm ? <i class="far fa-angle-down"></i></span>
                            <div class="faq-content">
                                <p><div>Xeyr konturla ödəniş hələki mümkün deyil. Əgər elə bir dəyişiklik olsa <a href="~/Site/NewsandUpdates">Xəbərlər və Güncəlləmələr</a> bölməsində məlumat verəcəyik.</div></p>
                            </div>
                        </li>
                        <li>
                            <span>Kredit kartıyla ödəniş edəbilərəm ? <i class="far fa-angle-down"></i></span>
                            <div class="faq-content">
                                <p><div>Kredit kartıyla birbaşa ödəniş mümkün deyil ama aşağıdakı köçürmə yolları ilə ödəniş edəbilərsiniz.<br><a href="https://youtu.be/xTMMKWv7j3c">BirBank (Kapital Bank)</a><br><a href="https://youtu.be/xTMMKWv7j3c">uBank (Unibank)</a></div></p>
                            </div>
                        </li>
                        <li>
                            <span>Terminal qəbzi vermədi. Nə edim ? <i class="far fa-angle-down"></i></span>
                            <div class="faq-content">
                                <p><div><strong>MilliÖn, eManat, Kapital Bank</strong> və digər terminalların <strong>qəbz</strong> vermədiyi hallarda olur. Belə halda <strong>050 820 10 01</strong> nömrəsinə <strong>whatsapp'dan</strong> yazıb <strong>məlumat</strong> verməyiniz kifayət edir.&nbsp;</div></p>
                            </div>
                        </li>
                        <li>
                            <span>Goafaz&#039;dan istifadə etmək üçün əlavə ödəniş etmək lazımdır ? <i class="far fa-angle-down"></i></span>
                            <div class="faq-content">
                                <p><div><strong>Goafaz</strong>'da oyunlara ödəniş etmək üçün sadəcə həmin <strong>məhsulun</strong> ödənişini etmək kifayət edir. Əlavə bir <strong>komissiya</strong> yoxdur.</div></p>
                            </div>
                        </li>
                        <li>
                            <span>Goafaz hesabımız silinə bilər ? <i class="far fa-angle-down"></i></span>
                            <div class="faq-content">
                                <p><div><strong>Goafaz</strong> hesabınız və balansınız heç vaxt <strong>silinə bilməz.</strong> <br><strong>Bonusun (Gcoin)</strong> müddəti <strong>1 ildir</strong>.&nbsp;</div></p>
                            </div>
                        </li>
                        <li>
                            <span>Goafaz&#039;dan hansı oyunlara ödəniş edəbilərəm ? <i class="far fa-angle-down"></i></span>
                            <div class="faq-content">
                                <p><div>Hələki saytımızda <strong>21 oyun</strong> mövcuddur. <a href="~/Site/AllGameType">Buradan</a> oyunlara baxa bilərsiz. Əlavə etməmizi istədiyiniz oyun varsa&nbsp; <strong>050 820 10 01 Whatsapp</strong>'dan yazaraq bildirə bilərsiniz.</div></p>
                            </div>
                        </li>
                        <li>
                            <span>Balansımı necə artıra bilərəm ? <i class="far fa-angle-down"></i></span>
                            <div class="faq-content">
                                <p><div><strong>Goafaz</strong>'ın hələki <strong>5 ödəmə üsulu</strong> mövcuddur. Bu üsullar vasitəsilə <strong>balansınızı</strong> artıra bilərsiniz.<br><strong>1. </strong><a href="https://youtu.be/xTMMKWv7j3c">Milliön terminalı</a><br><strong>2. </strong><a href="https://youtu.be/xTMMKWv7j3c">eManat terminalı</a><br><strong>3. </strong><a href="https://youtu.be/xTMMKWv7j3c">Kapital Bank terminalı</a><br><strong>4. </strong><a href="https://youtu.be/xTMMKWv7j3c">BirBank programı</a><br><strong>5. </strong><a href="https://youtu.be/xTMMKWv7j3c">uBank programı</a></div></p>
                            </div>
                        </li>
                        <li>
                            <span>Goafaz nədir ? <i class="far fa-angle-down"></i></span>
                            <div class="faq-content">
                                <p><div><strong>Goafaz</strong> oyunçular üçün dəstəklənən <strong>oyunlara ödəniş</strong> edəbiləcəyiniz, turnirlərə qatılaraq <strong>bonus (gcoin)</strong> əldə edib hədiyyələr qazana biləcəyiniz bir saytdır.<br><strong>Goafaz</strong> bütün <strong>oyunlara</strong> rahat şəkildə ödəniş edə biləcəyiniz <strong>Azərbaycanın</strong> ən böyük saytıdır. Müştərilərimizə yararlana biləcəyi <strong>super fürsətlər</strong> verəcəyik. <strong>Nəticə olaraq tək&nbsp; hesabdan istədiyiniz bütün oyunlara ödəniş edə biləcəksiniz.</strong><br><br></div></p>
                            </div>
                        </li>
                        <li>
                            <span>uBank programı ilə balansımı necə artıra bilərəm ? <i class="far fa-angle-down"></i></span>
                            <div class="faq-content">
                                <p><div><strong>Videolu İzah :<br>Yazılı İzah :</strong><br><strong>1. </strong>Sağ aşağıda <strong>köçürmə logosu</strong>'nu seçin.<br><strong>2. Karta və ya hesaba</strong>'nı seçin.<br><strong>3. Kartınızı</strong> seçin.<br><strong>4. </strong>Digər kart qisminə <strong>5239 1515 1179 5927</strong> yazın.<br><strong>5.</strong> <strong>Köçürmə məbləği</strong> qisminə artırmaq istədiyiniz məbləği yazın.<br><strong>6. Davam Etmək</strong>'i seçin.<br><strong>7. TƏSDİQLƏMƏK</strong>'i seçin.<br><strong>8. Ekran görüntüsü</strong> alın (screenshot) .<br><strong>9. Goafaz.com</strong>'da <strong>Balans Yüklə</strong> bölməsinə girin.&nbsp;</div><div><strong>10. Şəkli Seç</strong> düyməsinə girin və qəbzin şəklini seçin.&nbsp;</div><div><strong>11. Ödəmə Bildir</strong> düyməsinə klikləyin. Maksimum <strong>10 dəqiqə</strong> ərzində yüklədiyiniz məbləq balansınıza köçəcək.</div></p>
                            </div>
                        </li>
                        <li>
                            <span>Kapital Bank terminalı ilə necə balans artırabilərəm ? <i class="far fa-angle-down"></i></span>
                            <div class="faq-content">
                                <p><div><strong>Videolu İzah :<br>Yazılı İzah :</strong><br><strong>1. Bank Ödənişləri</strong>'ni seçin.<br><strong>2. Kart hesabının artırılması</strong>'nı seçin.<br><strong>3.</strong> <strong>5239 1515 1179 5927</strong> yazın.<br><strong>4. İrəli</strong>'ni seçin.<br><strong>5. Heçnə</strong> yazmadan <strong>İrəli</strong>'ni seçin.<br><strong>6. İrəli</strong>'ni seçin.<br><strong>7. NAĞD ÖDƏNİŞ</strong>'i seçin.<br><strong>7. Məbləği</strong> terminala daxil edin.<br><strong>8. Təsdiq et</strong>'i seçin.<br><strong>9.</strong> <strong>Qəbzi</strong> götürün.<br><strong>10. Qəbzin </strong>şəklini çəkin.<br><strong>12. Goafaz.com</strong>'da <strong>Balans Yüklə</strong> bölməsinə girin.&nbsp;</div><div><strong>13. Şəkli Seç</strong> düyməsinə girin və qəbzin şəklini seçin.&nbsp;</div><div><strong>14. Ödəmə Bildir</strong> düyməsinə klikləyin. Maksimum <strong>10 dəqiqə</strong> ərzində yüklədiyiniz məbləq balansınıza köçəcək.</div></p>
                            </div>
                        </li>
                        <li>
                            <span>BirBank programı ilə necə balans artıra bilərəm ? <i class="far fa-angle-down"></i></span>
                            <div class="faq-content">
                                <p><div><strong>Videolu İzah :</strong></div><div><strong>Yazılı İzah :&nbsp;</strong></div><div><strong>1. </strong>Sol üstdəki <strong>3 xətt</strong>'di seçin.<br><strong>2.</strong> <strong>Köçürmələr</strong>'i seçin.<br><strong>3.</strong> <strong>Yeni Köçürmə</strong>'ni seçin.<br><strong>4. İstənilən bank kartına</strong>'nı seçin.<br><strong>5. Kartınızı</strong> seçin.<br><strong>6. </strong>Kart nömrəsi yerinə <strong>5239 1515 1179 5927</strong> yazın.<br><strong>7. </strong>Ad yerinə <strong>Haci</strong> yazın.<br><strong>8.</strong> Soyad yerinə <strong>Aliyev</strong> yazın.<br><strong>9. Məbləği</strong> yazın.<br><strong>10. Davam et</strong>'i seçin.<br><strong>11.</strong> <strong>Köçürməni etmək</strong>'i seçin.<br><strong>12. </strong>Telefonunuza gələn <strong>sms'dəki kodu</strong> yazın.<br><strong>13. BirBank</strong>'a yenidən girin.<br><strong>14. </strong>Ekranda çıxan <strong>ödənişi</strong> seçin.<br><strong>15. Ekran görüntüsü</strong> alın (screenshot) .<br><strong>16. Goafaz.com</strong>'da <strong>Balans Yüklə</strong> bölməsinə girin.&nbsp;</div><div><strong>17. Şəkli Seç</strong> düyməsinə girin və qəbzin şəklini seçin.&nbsp;</div><div><strong>18. Ödəmə Bildir</strong> düyməsinə klikləyin. Maksimum <strong>10 dəqiqə</strong> ərzində yüklədiyiniz məbləq balansınıza köçəcək.</div></p>
                            </div>
                        </li>
                        <li>
                            <span>eManat terminalı ilə necə balans artıra bilərəm ? <i class="far fa-angle-down"></i></span>
                            <div class="faq-content">
                                <p><div><strong>Videolu İzah :</strong></div><div><strong>Yazılı İzah :&nbsp;</strong></div><div>1. <strong>Bank xidmətləri</strong>'ni seçin.</div><div>2. <strong>Kapital Bank</strong>'ı seçin.</div><div>3. <strong>KARTA MƏDAXİL</strong>'i seçin.</div><div>4. <strong>5239 1515 1179 5927</strong> yazın.</div><div>5. <strong>İRƏLİ</strong>'ni seçin.</div><div>6. <strong>İRƏLİ</strong>'ni seçin.</div><div>7. <strong>İRƏLİ</strong>'ni seçin.</div><div>8. <strong>Məbləği</strong> terminala daxil edin.</div><div>9. <strong>ÖDƏ</strong>'ni seçin.</div><div>10. <strong>Qəbzi</strong> götürün.</div><div>11. <strong>Qəbzin</strong> şəklini çəkin.</div><div>12. <strong>Goafaz.com</strong>'da <strong>Balans Yüklə</strong> bölməsinə girin.&nbsp;</div><div>13. <strong>Şəkli Seç</strong> düyməsinə girin və qəbzin şəklini seçin. <br>14. <strong>Ödəmə Bildir</strong> düyməsinə klikləyin. Maksimum <strong>10 dəqiqə</strong> ərzində yüklədiyiniz məbləq balansınıza köçəcək.</div></p>
                            </div>
                        </li>
                        <li>
                            <span>MilliÖn terminalı ilə necə balans artıra bilərəm ? <i class="far fa-angle-down"></i></span>
                            <div class="faq-content">
                                <p><div><strong>Videolu İzah :</strong></div><div><strong>Yazılı İzah :&nbsp;</strong></div><div><strong>1. Bank Xidmətləri</strong>'ni seçin.&nbsp;</div><div><strong>2. Kapital Bank</strong>'ı seçin.&nbsp;</div><div><strong>3. Kart hesabının artırılması</strong>'nı seçin.&nbsp;</div><div><strong>4. 5239 1515 1179 5927</strong> yazın.&nbsp;</div><div><strong>5. irəli</strong>'ni seç və <strong>bəli</strong>'ni seçin.&nbsp;</div><div><strong>6. irəli</strong>'ni seçin.&nbsp;</div><div><strong>7. irəli</strong>'ni seçin.&nbsp;</div><div><strong>8. Məbləği</strong> terminala daxil edin. <br><strong>9. irəli</strong>'ni seçin.</div><div><strong>10. Qəbzi</strong> götürün.&nbsp;</div><div><strong>11. Qəbzin</strong> şəklini çəkin.&nbsp;</div><div><strong>12. Goafaz.com</strong>'da <strong>Balans Yüklə</strong> bölməsinə girin.&nbsp;</div><div><strong>13. Şəkli Seç</strong> düyməsinə girin və qəbzin şəklini seçin.&nbsp;</div><div><strong>14. Ödəmə Bildir</strong> düyməsinə klikləyin. Maksimum <strong>10 dəqiqə</strong> ərzində yüklədiyiniz məbləq balansınıza köçəcək.</div></p>
                            </div>
                        </li>
                    </ul>
                    <h6 class="note">
                        Daha çox təklif, şikayət və suallarınız üçün <a href="~/Site/Contact">Bizimlə Əlaqə</a>
                        səhifəsini ziyarət edin
                    </h6>
                </div>
            </div>
        </div>
    </div>
</main>

