
@{
    ViewBag.Title = "Rules";
    Layout = "~/Views/Shared/Site.cshtml";
}

<main>
    <div class="container-fluid pr-0 pl-0">
        <div class="title-back">
            <div class="game-title">
                <h4>Qanunlar və Qaydalar</h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about">
                    <div><strong>1.&nbsp; 18 yaşdan</strong> aşağı olan azyaşlıların valideynlərdən icazəsiz saytdan alışveriş etməsiz qadağandır.<br><strong>2. Azyaşlıların</strong> valideyndən icazəsiz etdiyi alışveriş'ə <strong>Goafaz.com saytı</strong> məhsuliyyət daşımır.<br><strong>3. </strong>Sifariş verilərkən səhv verilən məlumatlara əsasən baş verən problemlər <strong>müştərinin</strong> məhsuliyyəti üzərindədir. (Səhv yazılan İD, oyun hesabı və.s)<br><strong>4. Goafaz.com</strong> saytında verilən bank hesablarından başqa hesablara edilən ödənişlərə <strong>Goafaz.com saytı</strong> məhsuliyyət daşımır.<br><strong>5. Goafaz.com</strong> saytında paylaşılan bank hesaplarına edilən ödənişlərin qəbzini başqalarıyla paylaşmaq qadağandır. əks-halda bütün məhsuliyyət paylaşan <strong>vətəndaşın</strong> üzərindədir.<br><strong>6. Goafaz.com</strong> saytında verilən əlaqə nömrələrindən başqa şəxslərlə baş verən problemlərə <strong>Goafaz.com</strong> məhsuliyyət daşımır.</div>
                </div>
            </div>
        </div>
    </div>
</main>

