@{

    try
    {
        if (Request.Cookies["Admin"] == null)
        {
            Response.Redirect("~/Admin/AdminLogin");
        }
    }
    catch (Exception)
    {
        Response.Redirect("~/Admin/AdminLogin");
    }
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Bootstrap Admin Template : Binary Admin</title>
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="~/assets/css/custom.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="~/assets/css/custom.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/Assets/js/search.js"></script>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Site/Index">Goaf.az</a>
            </div>
            <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;"> Created by : Zairl Zahir &nbsp; <a href="~/Admin/LogOut" class="btn btn-danger square-btn-adjust">Logout</a> </div>
        </nav>
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center">
                        <img src="~/assets/img/zahir.jpg" class="user-image img-responsive" />
                    </li>
                    <li>
                        <a href="~/Admin/Index"><i class="fa fa-desktop fa-3x"></i>Index</a>
                    </li>
                    <li>
                        <a href="~/Admin/BonusList"><i class="fa fa-dashboard fa-3x"></i>Bonus List</a>
                    </li>
                    <li>
                        <a href="~/Admin/GameType"><i class="fa fa-dashboard fa-3x"></i>Game Type</a>
                    </li>
                    <li>
                        <a href="~/Admin/GameProductList"><i class="fa fa-dashboard fa-3x"></i>Game-Product List</a>
                    </li>
                    <li>
                        <a href="~/Admin/ContactList"><i class="fa fa-dashboard fa-3x"></i>Contact List</a>
                    </li>
                    <li>
                        <a href="~/Admin/IndexSlideList"><i class="fa fa-qrcode fa-3x"></i>Index slide</a>
                    </li>
                    <li>
                        <a href="~/Admin/MainInformation"><i class="fa fa-bar-chart-o fa-3x"></i>Main Information</a>
                    </li>
                    <li>
                        <a href="~/Admin/AdminUser"><i class="fa fa-bar-chart-o fa-3x"></i>Users</a>
                    </li>
                    <li>
                        <a href="~/Admin/Payment"><i class="fa fa-bar-chart-o fa-3x"></i>Payment Type</a>
                    </li>
                    <li>
                        <a href="~/Admin/Order"><i class="fa fa-bar-chart-o fa-3x"></i>Orders</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-3x"></i>Payment<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">

                            @foreach (var item in ViewBag.payment)
                            {
                                <li>
                                    <a href="~/Admin/DetailPayment/@item.PamentTypeMainId">@item.PaymentTypeName</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li>
                        <a class="active-menu" href="~/Site/Index"><i class="fa fa-square-o fa-3x"></i>Goaf.az</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper">
            <div id="page-inner">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/assets/js/jquery-1.10.2.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.metisMenu.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="~/Assets/js/search.js"></script>
</body>
</html>

